<!-- your html code here -->
<div class="row">
    <div class="col-12">
        <h1>Contact</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo voluptatem exercitationem asperiores
            reprehenderit cum fugit? Aperiam cupiditate temporibus sit molestias odit. Nam, adipisci? Recusandae facere
            doloremque in. Iste, velit.</p>
    </div>

    <div class="col-12 col-md-8 col-lg-6 bg-black text-dark bg-opacity-10 border rounded mx-auto">
        <div class="d-md-flex mb-2">
            <div class="col-12 col-md-3">
                <label for="yourEmail" class="form-label p-2 fw-bold float-sm-start float-md-end">Your E-mails</label>
            </div>
            <div class="col">
                <input type="email" class="form-control" id="yourEmail" placeholder="Your email">
            </div>
        </div>
        <div class="d-md-flex mb-2">
            <div class="col-12 col-md-3">
                <label for="yourText" class="form-label p-2 fw-bold float-sm-start float-md-end">Your message</label>
            </div>
            <div class="col">
                <textarea class="form-control" id="yourText" rows="2"
                    placeholder="Please enter your message here..."></textarea>
            </div>


        </div>
        <div class="d-flex p-2 justify-content-end">
            <button class="btn btn-primary" type="button">Summit</button>
        </div>

    </div>
</div>