<!-- your html code here -->
<div class="container my-4">
    <div class="row mt-4">
        <div class="d-inline-block col-md-4 col-sm-12">
            <img src="./assets/img/2.jpg" class="card-img object-fit-cover rounded-circle mb-3" alt="...">
        </div>
        <div class="col-md-8 col-sm-12 ">
            <p class="h1 mb-2">This Frist Heading <spam class="text-secondary">Will Catch Your Eyes</spam>
            </p>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, dicta. Ea
                ratione et odio suscipit commodi
                dolores, perspiciatis voluptate nulla ipsam fuga sint facere soluta temporibus officiis accusamus libero
                ab?
            </p>
        </div>
    </div>
    <hr class="w-75 mx-auto my-4">
</div>